# Ignore node_modules and log files in all subdirectories
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Ignore build outputs for Node.js
**/dist/
**/build/
**/.eslintcache

# Ignore environment files in all folders
**/.env
**/.env.*
!**/.env.example

# Ignore npmrc
**/.npmrc

# Ignore Next.js build and export directories
**/.next/
**/out/

# Ignore lock files (optional, if you prefer to lock them in)
**/package-lock.json
**/yarn.lock

# Ignore system files
**/.DS_Store
Thumbs.db

# Ignore logs folder
logs/

#Ignore client jsons
**/clientjsons/